#map {
  width: 100vw;
  height: 100vh;
}

.list-group {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

button {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.marker-label {
  color: white; /* Color del texto */
  font-weight: bold; /* Opcional: establece el peso de la fuente a negrita */
}
